<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
		  http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		  http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
		  http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
          http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
          http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
          http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">
   
    
    <bean class="com.aic.paas.task.msg.send.impl.NsqHttpMessageSender" >
    	<property name="nsqHost" value="${project.msmq.nsq.host}" />
    	<property name="nsqPort" value="${project.msmq.nsq.send.port}" />
    </bean>
    <bean abstract="true" id="message.parent" >
    	<property name="pageSize" value="${project.sync.batch.size}" />
		<property name="messageSender" ref="com.aic.paas.task.msg.send.impl.NsqHttpMessageSender" />
	</bean>
    
    
    
    <!-- svc -->
    <bean class="com.aic.paas.task.msg.svc.impl.MessageTriggerSvcImpl" >
    	<property name="threadPool" ref="MessageTrigger_ThreadPool" />
    </bean>
    
    
    <bean class="com.aic.paas.task.msg.send.msg.MessageFactory" >
    	<property name="messages" >
    		<array>
    			<!-- sys -->
    			<ref bean="com.aic.paas.task.sys.msg.SysOpMsg" />
    			
    			<!-- dep -->
    			<ref bean="com.aic.paas.task.dep.msg.send.PcAppDepInstanceMsg" />
    			<ref bean="com.aic.paas.task.dep.msg.send.PcAppImageMsg" />
    			<ref bean="com.aic.paas.task.dep.msg.send.PcAppMgrMsg" />
    			<ref bean="com.aic.paas.task.dep.msg.send.PcAppMsg" />
    			<ref bean="com.aic.paas.task.dep.msg.send.PcDataCenterMsg" />
    			<ref bean="com.aic.paas.task.dep.msg.send.PcNetZoneMsg" />
    			<ref bean="com.aic.paas.task.dep.msg.send.PcResCenterMsg" />
    		</array>
    	</property>
    </bean>
    
    
    
    
    
    <!-- receive -->
    <bean class="com.aic.paas.task.msg.receive.NsqReceiveManager" >
    	<property name="nsqHost" value="${project.msmq.nsq.host}" />
    	<property name="nsqPort" value="${project.msmq.nsq.receive.port}" />
    	<property name="receiveHandlers" >
    		<array>
    			<!-- dep -->
    			<ref bean="com.aic.paas.task.dep.msg.receive.AppDepInstanceReceive" />
    		</array>
    	</property>
    </bean>
    
    
    
    
    
</beans>
