<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
    xmlns:dubbox="http://dubbox.aic.com/schema/rest/client"
    xsi:schemaLocation="
          http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd
          http://code.alibabatech.com/schema/dubbo
          http://code.alibabatech.com/schema/dubbo/dubbo.xsd
          http://dubbox.aic.com/schema/rest/client http://dubbox.aic.com/schema/rest/client/dubbox-rest-client.xsd">
	
	
	<bean id="DubboRestClient_SYS" class="com.binary.framework.dubbo.rest.DubboRestClient">
		<constructor-arg value="${dubbox.rest.root.sys}" />
<!-- 		<property name="timeout"></property> -->
	</bean>
	<bean id="DubboRestClient_DEV" class="com.binary.framework.dubbo.rest.DubboRestClient">
		<constructor-arg value="${dubbox.rest.root.dev}" />
	</bean>
	<bean id="DubboRestClient_DEP" class="com.binary.framework.dubbo.rest.DubboRestClient">
		<constructor-arg value="${dubbox.rest.root.dep}" />
	</bean>


	<!-- sys -->	
	<dubbox:rest id="DubboxRest_BsSyncdataConfigSvc" interface="com.aic.paas.task.sys.rest.BsSyncdataConfigSvc" client="DubboRestClient_SYS" />
	<dubbox:rest id="DubboxRest_SysOpSvc" interface="com.aic.paas.task.sys.rest.SysOpSvc" client="DubboRestClient_SYS" />
	<dubbox:rest id="DubboxRest_MerchentSvc" interface="com.aic.paas.task.sys.rest.MerchentSvc" client="DubboRestClient_SYS"/>
	
	
	
	<!-- dep -->
	<dubbox:rest id="DubboxRest_PcAppDeploySvc" interface="com.aic.paas.task.dep.rest.PcAppDeploySvc" client="DubboRestClient_DEP"/>
	<dubbox:rest id="DubboxRest_PcAppSvc" interface="com.aic.paas.task.dep.rest.PcAppSvc" client="DubboRestClient_DEP"/>
	<dubbox:rest id="DubboxRest_PcDataCenterSvc" interface="com.aic.paas.task.dep.rest.PcDataCenterSvc" client="DubboRestClient_DEP"/>
	<dubbox:rest id="DubboxRest_PcNetZoneSvc" interface="com.aic.paas.task.dep.rest.PcNetZoneSvc" client="DubboRestClient_DEP"/>
	<dubbox:rest id="DubboxRest_PcResCenterSvc" interface="com.aic.paas.task.dep.rest.PcResCenterSvc" client="DubboRestClient_DEP"/>
	<dubbox:rest id="DubboxRest_PcAppImageSvc" interface="com.aic.paas.task.dep.rest.PcAppImageSvc" client="DubboRestClient_DEP"/>
	<dubbox:rest id="DubboxRest_PcAppTaskSvc" interface="com.aic.paas.task.dep.rest.PcAppTaskSvc" client="DubboRestClient_DEP"/>
	<dubbox:rest id="DubboxRest_PcAppVersionSvc" interface="com.aic.paas.task.dep.rest.PcAppVersionSvc" client="DubboRestClient_DEP"/>
	<dubbox:rest id="DubboxRest_PcAppDepInstanceSvc" interface="com.aic.paas.task.dep.rest.PcAppDepInstanceSvc" client="DubboRestClient_DEP"/>
	<dubbox:rest id="DubboxRest_PcImageRepositorySvc" interface="com.aic.paas.task.dep.rest.PcImageRepositorySvc" client="DubboRestClient_DEP"/>
	<dubbox:rest id="DubboxRest_PcAppDepHistorySvc" interface="com.aic.paas.task.dep.rest.PcAppDepHistorySvc" client="DubboRestClient_DEP"/>
	<dubbox:rest id="DubboxRest_PcKvPairSvc" interface="com.aic.paas.task.dep.rest.PcKvPairSvc" client="DubboRestClient_DEP"/>
	
	<!-- dev -->
	<dubbox:rest id="DubboxRest_PcImageSvc" interface="com.aic.paas.task.dev.rest.PcBuildSvc" client="DubboRestClient_DEV" />
	<dubbox:rest id="DubboxRest_PcBuildSvc" interface="com.aic.paas.task.dev.rest.PcBuildTaskSvc" client="DubboRestClient_DEV"/>
	<dubbox:rest id="DubboxRest_PcBuildTaskSvc" interface="com.aic.paas.task.dev.rest.PcImageSvc" client="DubboRestClient_DEV"/>
	
		
	<!--    be-am -->
	<dubbo:application name="paas_dubbo_service"/>
	<dubbo:reference id="iDeployServiceManager" interface="com.aic.paas.task.dep.rest.IDeployServiceManager" url="${dubbox.rest.root.beam}" timeout="${dubbox.rest.client.timeout}"/>
	
	<!--  be-rm  -->
	<dubbo:reference id="iResCenterServiceManager" interface="com.aic.paas.task.res.rest.IResCenterServiceManager" url="${dubbox.rest.root.berm}" timeout="${dubbox.rest.client.timeout}"/>
	
</beans>



